$blue:rgb(0, 123, 255);
$grey:rgb(248, 248, 248);
$img-1:"../../content/bg-masthead.jpg";
$img-2:"../../content/bg-showcase-1.jpg";
$img-3:"../../content/bg-showcase-2.jpg";
$img-4:"../../content/bg-showcase-3.jpg";
